[init]
    templatedir = ~/.gittemplate

[user]
    name = Sergi Castro
    email = sergikstro@gmail.com
    signingkey = 5D8F28D9989DBCA8

[core]
    editor = vim
    ; pager = more
    pager = less -rFXnM
    excludesfile = ~/.gitignore

[color]
    status = auto
    interactive = auto
    diff = auto
    branch = auto
    ui = auto

[alias]
    st = status
    ss = status --short
    ci = commit
    co = checkout
    pl = pull
    ps = push
    pr = pull --rebase
    br = branch
    lg = log --graph
    ll = log --graph --oneline
    ; signing
    cis = commit -S
    tS = tag -S
    ms = merge -S
    rs = rebase -S
    cps = cherry-pick -S
    ls = log --graph --show-signature

[apply]
    whitespace = nowarn

[format]
    pretty = format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[push]
    default = matching

[diff]
    renames = true
    renameLimit = 200
