[submodule "vim/.vim/bundle/jedi-vim"]
	path = vim/.vim/bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "vim/.vim/bundle/vim-classpath"]
	path = vim/.vim/bundle/vim-classpath
	url = git@github.com:tpope/vim-classpath.git
[submodule "vim/.vim/bundle/vim-clojure-static"]
	path = vim/.vim/bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
[submodule "vim/.vim/bundle/vim-fireplace"]
	path = vim/.vim/bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "vim/.vim/bundle/vim-nerdtree-tabs"]
	path = vim/.vim/bundle/vim-nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule "vim/.vim/bundle/vim-python-pep8-indent"]
	path = vim/.vim/bundle/vim-python-pep8-indent
	url = git@github.com:hynek/vim-python-pep8-indent.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-autoclose"]
	path = vim/.vim/bundle/vim-autoclose
	url = git@github.com:Townk/vim-autoclose.git
[submodule "vim/.vim/bundle/xmledit"]
	path = vim/.vim/bundle/xmledit
	url = git@github.com:sukima/xmledit.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-signify"]
	path = vim/.vim/bundle/vim-signify
	url = git@github.com:mhinz/vim-signify.git
[submodule "vim/.vim/bundle/bufexplorer"]
	path = vim/.vim/bundle/bufexplorer
	url = git@github.com:jlanzarotta/bufexplorer.git
